@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;

400;500;600;700;800;900&display=swap);body {
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 25px;
}

.bg-gray {
  background: #f2f2f2;
  height: 100vh;
  position: relative;
  padding: 35px 0;
}

.bg-gray .page-title {
  font-size: 23px;
}

img {
  max-width: 100%;
}

.orange {
  color: #ff8e16;
}

a:hover {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

header .navbar-brand {
  color: #fff;
  font-weight: 700;
}

.navigation {
  text-align: right;
  padding: 7px 0 0;
}

.navigation li {
  display: inline-block;
}

.navigation li:nth-child(1) {
  margin-right: 20px;
}

.navigation li a {
  color: #fff;
  font-weight: 600;
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.53)), url(/images/hero.jpg?6e8985baefb5e8455c5796f15511204c);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.hero h1 {
  color: #fff;
  width: 60%;
}

.hero .button {
  background: #fff;
  border-radius: 6px;
  top: 30px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  padding: 14px 28px;
}

.stock {
  padding: 50px 0;
}

.stock h2 {
  text-align: center;
}

.stock .stock-wrapper img {
  border-radius: 6px;
  height: 250px;
  width: 100%;
}

.stock .stock-wrapper h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ff8e16;
  margin-top: 15px;
  margin-bottom: 0;
}

.stock .stock-wrapper p {
  font-size: 15px;
  margin-bottom: 0;
  color: #333;
}

.stock .stock-wrapper .price {
  font-weight: 700;
  margin-top: 5px;
}

.login-background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.53)), url(/images/hero.jpg?6e8985baefb5e8455c5796f15511204c);
  height: 100vh;
  width: 100%;
}

.login-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
}

.login-wrapper .middle {
  display: table-cell;
  vertical-align: middle;
}

.login-wrapper .middle .inner {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.login-wrapper .middle .inner h1 {
  color: #ff8e16;
  font-weight: 700;
}

.login-wrapper .middle .inner p {
  font-size: 18px;
  font-weight: 500;
  color: #636363;
  margin-top: -10px;
}

.login-wrapper .middle .inner form {
  margin-top: 25px;
}

.login-wrapper .middle .inner form input {
  font-size: 15px;
  height: 45px;
  border: 1px solid #f1f1f1;
}

.login-wrapper .middle .inner form .btn {
  background: #ff8e16;
  color: #fff;
}

.navbar .navbar-brand {
  font-weight: 700;
  font-size: 1.25rem;
}

.header-row a {
  background: #ff8e16;
  color: #fff;
  padding: 12px 18px;
  border-radius: 6px;
  transition: all 500ms;
}

.header-row a:hover {
  background: #da7811;
}

.dataTables_length {
  display: none;
}

.dataTables_wrapper {
  margin-top: 25px;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

table.dataTable.no-footer {
  border-bottom: none;
}

.form-wrapper {
  background: #fff;
  padding: 25px;
  border-radius: 6px;
  margin-top: 25px;
}

.form-wrapper form .form-control {
  margin-bottom: 10px;
}

.form-wrapper form input[type=text] {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 0 13px;
  height: 45px;
}

.form-wrapper form .text-right {
  margin-top: 20px;
}

.form-wrapper form .btn {
  background: #ff8e16;
  color: #fff;
  margin-left: 20px;
}

.form-wrapper form a {
  color: #333;
}

.houses-table tbody tr {
  cursor: pointer;
  transition: all 500ms;
}

.houses-table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.houses-table tbody tr:hover {
  background: #f2f2f2;
}

.show-img {
  width: 100%;
}

.house-detail h2 {
  font-weight: 600;
}

.house-detail .price {
  font-size: 16px;
  font-weight: 600;
}

